<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.DeptDao">
  <resultMap id="BaseResultMap" type="com.ssm.pojo.DeptEntity">
    <id column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
  </resultMap>
  <sql id="Base_Column_List">
    dept_id, dept_name
  </sql>

  <select id="selectBy" parameterType="com.ssm.pojo.DeptEntity" resultMap="BaseResultMap">
    select * from dept
    <where>
      <if test="deptId != null and deptId != ''">
        AND dept_id = #{deptId}
      </if>
    </where>
  </select>

  <insert id="insert" parameterType="com.ssm.pojo.DeptEntity">
    insert into dept (dept_id, dept_name)
    values (#{deptId,jdbcType=INTEGER}, #{deptName,jdbcType=VARCHAR})
  </insert>

  <update id="update" parameterType="com.ssm.pojo.DeptEntity">
    update dept
    <set>
      <if test="deptName != null">
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
    </set>
    where dept_id = #{deptId,jdbcType=INTEGER}
  </update>

</mapper>